.Red-class
{
background-color: rgb(255, 228, 225);
}
.Dark-red
{
color:#8B0000
}

.Red
{
color:#FF0000
}

.Pink
{
color:#FFC0CB
}
.Green-class
{
background-color: rgb(215, 235, 212);
}
.Dark-green
{
color:#006400
}

.Green
{
color:#00FF00
}

.Light-green
{
color:#90EE90
}
.Blue-class
{
background-color: rgb(214, 228, 238);
}
.Dark-blue
{
color:#00008B
}

.Blue
{
color:#0000FF
}

.Light-blue
{
color:#ADD8E6
}